@tailwind base;
@tailwind components;
@tailwind utilities;


.ql-editor{
    @apply min-h-[300px] text-sm lg:text-lg;
}

.text-editor div:nth-child(1){
    @apply rounded-t-lg
}

.text-editor div:nth-child(2){
    @apply rounded-b-lg
}


@font-face {
    font-family: Satoshi;
    src: url('{{ public_path('fonts/Satoshi-Variable.tff') }}');
}

.satoshi {
    font-family: Satoshi, sans-serif;
}

.sintony {
    font-family: "Sintony", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}